<!DOCTYPE html>
<html>
<title>T4T</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
<body id="body">
  <div class="container" id="container">
      <img class="mySlides" src="">
      <img class="mySlides" src="https://dl.dropbox.com/scl/fi/38jlauya46eoiqccha3hp/Screenshot-2024-07-28-150507.png?rlkey=u58m24p4omu3rxpq1fh5heley&st=3rouxfj4&dl=0">
      <img class="mySlides" src="https://dl.dropbox.com/scl/fi/8kzs9scfg556mzhigg71s/057cbaf4-ee51-40c0-b612-c345a05b4831.jpg?rlkey=ofu2h9qlkjbtc4g1ssy2zdbbl&st=fewo5dme&dl=0">
      <img class="mySlides" src="">
      <h3 id="homeText">Cleaner ages in 22 pages.</h3>
      <h2 id="pageDescription"></h2>
  </div>
  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>

</body>
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  const descriptions = ['first page','second page','third page','forth page'];
  var slides = document.getElementsByClassName("mySlides");
  var pageDescription = document.getElementById("pageDescription");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  pageDescription.innerHTML=descriptions[slideIndex-1];
  slides[slideIndex-1].style.display = "block";  
}
</script>
<style>
.mySlides {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
#homeText{
  position: fixed;
  right: 5%;
  top: 2%;
  z-index: 1;
  color: rgb(64, 199, 154);
}
#pageDescription{
  position: fixed;
  left: 2%;
  bottom: 2%;
  z-index: 1;
}
.container{
  z-index: -1;

}

</style>
</body>
</html>
